<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <!--试卷生成密钥-->
    <add key="PaperSecret" value="8B5E428700A98C47C1DD7E41" />
    <!--主站Boss后台-->
    <!--<add key="Sql" value="server=192.168.0.204;Uid=sa;Pwd=wuyou_2015;Database=wyk8" />
    <add key="Sql2" value="server=192.168.0.204;Uid=sa;Pwd=wuyou_2015;Database=wyMark" />
    <add key="Sql3" value="server=192.168.0.204;Uid=sa;Pwd=wuyou_2015;Database=wyStu" />-->
    <add key="Sql" value="server=120.27.107.71;Uid=core;Pwd=123456;Database=wyk8" />
    <!--市场后台-->
    <add key="Sql2" value="server=120.27.107.71;Uid=core;Pwd=123456;Database=wyMark" />
    <!--学员端-->
    <add key="Sql3" value="server=120.27.107.71;Uid=core;Pwd=123456;Database=wyStu" />
    <!--机构版题库-->
    <add key="Sql4" value="server=120.27.107.71;Uid=core;Pwd=123456;Database=question" />
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>